<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.ritian.mybatis.dao.OrderMapper">
    <resultMap id="OrderUserResultMap" type="Order" autoMapping="true">
        <id column="id" property="id"/>
        <!--association:完成子对象的映射-->
        <!--property:子对象在父对象中的属性名-->
        <!--javaType:子对象的java类型-->
        <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
        <association property="user" javaType="User" autoMapping="true">
            <id column="user_id" property="id"/>
        </association>
    </resultMap>

    <resultMap id="OrderUserDetailResultMap" type="Order" autoMapping="true" extends="OrderUserResultMap">
        <!-- resultMap的继承：extends="OrderUserResultMap" -->
        <!--<id column="id" property="id"/>-->

        <!--<association property="user" javaType="User" autoMapping="true">-->
            <!--<id column="user_id" property="id"/>-->
        <!--</association>-->
        <!--collection:定义子对象集合映射-->
        <collection property="detailList" javaType="List" ofType="OrderDetail" autoMapping="true">
            <id column="id" property="id"/>
        </collection>
    </resultMap>

    <resultMap id="OrderUserDetailItemResultMap" type="Order" autoMapping="true">
        <id column="id" property="id"/>
        <association property="user" javaType="User" autoMapping="true">
            <id column="user_id" property="id"/>
        </association>
        <collection property="detailList" javaType="List" ofType="OrderDetail" autoMapping="true">
            <id column="detail_id" property="id"/>
            <association property="item" javaType="Item" autoMapping="true">
                <id column="item_id" property="id"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="LazyOrderResultMap" type="Order" autoMapping="true">
        <id column="id" property="id" />
        <association property="user" javaType="User" autoMapping="true" select="queryUserById" column="user_id"></association>
    </resultMap>

    <select id="queryOrderUserByOrderNumber" resultType="com.ritian.mybatis.pojo.OrderUser">
        select * from tb_order o
        left join
        tb_user u
        on o.user_id=u.id
        where o.order_number = #{number}
   </select>

    <select id="queryOrderWithUserByOrderNumber" resultMap="OrderUserResultMap">
        select * from tb_order o left join tb_user u on o.user_id=u.id where o.order_number = #{number}
    </select>

    <select id="queryOrderWithUserAndDetailByOrderNumber" resultMap="OrderUserDetailResultMap">
        select * from tb_order o
                          left join tb_user u on o.user_id=u.id
                          left join tb_orderdetail od on o.id=od.order_id
        where o.order_number = #{number}
    </select>

    <select id="queryOrderWithUserAndDetailItemByOrderNumber" resultMap="OrderUserDetailItemResultMap">
        select * ,od.id as detail_id from tb_order o
                                              left join tb_user u on o.user_id=u.id
                                              left join tb_orderdetail od on o.id=od.order_id
                                              left join tb_item i on od.item_id=i.id
        where o.order_number = #{number}
    </select>

    <select id="queryOrderAndUserByOrderNumberLazy" resultMap="LazyOrderResultMap">
        select * from tb_order where order_number=#{number};
    </select>

    <select id="queryUserById" resultType="User">
        select * from tb_user where id=#{id};
    </select>
</mapper>